<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>megaresto</title>
  <link rel="stylesheet" type="text/css" href="dist/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <script src="javascripts/jquery.min.js"></script>
  <script src="javascripts/script.js"></script>
  <script src="dist/semantic.min.js"></script>
</head>
<body>
  <!-- navbar -->
  <div class="ui secondary pointing menu">
    <a class="item"></a>
    <a class="item"></a>
    <a class="item logodepan" href="/">megaresto</a>
    <a class="item" href="/">
      Home
    </a>
    <a class="item" href="/order">
      Order
    </a>
    <a class="item active" href="/history">
      History
    </a>
    <div class="right menu">
      <a class="ui item">
        Logout
      </a>
    </div>
    <div class="item"></div>
    <div class="item"></div>
  </div>
  <!-- navbar -->

  <!-- message -->
  <div id="message" class="ui container">
    <div id="message" class="ui positive message">
      <i class="close icon"></i>
      <div id="headerContent"></div>
    </div>
  </div>


</body>
</html>
