<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>megaresto</title>
  <link rel="stylesheet" type="text/css" href="dist/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <script src="javascripts/jquery.min.js"></script>
  <script src="dist/semantic.min.js"></script>
</head>
<body>
  <!-- navbar -->
  <div class="ui secondary pointing menu">
    <a class="item"></a>
    <a class="item"></a>
    <a class="item logodepan" href="/">megaresto</a>
    <a class="item active" href="/">
      Home
    </a>
    <a class="item" href="/order">
      Order
    </a>
    <a class="item" href="/history">
      History
    </a>
    <div class="right menu">
      <a class="ui item">
        Logout
      </a>
    </div>
    <div class="item"></div>
    <div class="item"></div>
  </div>
  <!-- navbar -->

  <!-- image header -->
  <img class="ui fluid image" src="/images/depan.jpg">
  <!-- image header -->
  <div class="container">
    <div class="ui divider">
  </div>

  <center>
      <br><br><br><br>
      <br><br><br><br>
      <br><br><br><br>
        <div class="ui container">
          <div class="ui statistic">
            <div class="value">
              <i class="star icon"></i><i class="star icon"></i><i class="star icon"></i>
            </div>
            <div class="label">
              Stars Michelin
            </div>
          </div>
        </div>
      <br><br><br><br>
      <br><br><br><br>
      <br><br><br><br>
      <br><br><br><br>
      <br><br><br><br>
      <br><br><br><br>
  </center>


  <!-- chef -->
  <center>
    <h2 class="ui icon header">
      <div class="content">
        Our Chefs
        <div class="sub header">Best Services We Always Provide to all Our Customers</div>
      </div>
    </h2>
  </center>

  <br><br>
  <div class="ui centered container link cards">
    <div class="card">
      <div class="image">
        <img src="/images/chef.jpg">
      </div>
      <div class="content">
        <div class="header">Chelsea Islan</div>
        <div class="meta">
          <a>Chef</a>
        </div>
        <div class="description">
          Chelsea Elizabeth Islan is an Indonesian chef. She opened her restaurant in 2013
        </div>
      </div>
      <div class="extra content">
        <span class="right floated">
          Joined in 2013
        </span>
        <span>
          <i class="user icon"></i>
          102 Followers
        </span>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="/images/chef2.jpg">
      </div>
      <div class="content">
        <div class="header">Heston Blumenthal</div>
        <div class="meta">
          <span class="date">Top Chef</span>
        </div>
        <div class="description">
          Heston Marc Blumenthal, OBE is a British celebrity chef. He is the proprietor of The Fat Duck in Bray, Berkshire, one of four restaurants in Great Britain to have three Michelin stars; it was voted No. 1 in The World’s 50 Best Restaurants in 2005
        </div>
      </div>
      <div class="extra content">
        <span class="right floated">
          Joined in 2015
        </span>
        <span>
          <i class="user icon"></i>
          2032 Followers
        </span>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="/images/chef3.jpg">
      </div>
      <div class="content">
        <div class="header">Gordon Ramsay</div>
        <div class="meta">
          <a>Chef</a>
        </div>
        <div class="description">
          Gordon James Ramsay, OBE is a British chef, restaurateur, and television personality. Born in Scotland, he grew up in Stratford upon Avon, England. His restaurants have been awarded 16 Michelin stars in total.
        </div>
      </div>
      <div class="extra content">
        <span class="right floated">
          Joined in 2014
        </span>
        <span>
          <i class="user icon"></i>
          3511 Followers
        </span>
      </div>
    </div>
  </div>
  <!-- chef -->




  </div>

</body>
</html>
