<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>megaresto</title>
  <link rel="stylesheet" type="text/css" href="dist/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <script src="javascripts/jquery.min.js"></script>
  <script src="dist/semantic.min.js"></script>
</head>
<body>
  <!-- navbar -->
  <div class="ui secondary pointing menu">
    <a class="item"></a>
    <a class="item"></a>
    <a class="item logodepan">megaresto</a>
    <a class="item" href="/">
      Home
    </a>
    <a class="item active" href="/order">
      Order
    </a>
    <div class="right menu">
      <a class="ui item">
        Logout
      </a>
    </div>
    <div class="item"></div>
    <div class="item"></div>
  </div>
  <!-- navbar -->

  <div class="ui container food-list">
    <div class="ui four cards">
      <div class="card">
        <div class="image">
          <img src="/images/f1.jpg">
        </div>
        <div class="extra">
          <h3 class="header">Tomato, red wine & chorizo risotto</h3>
        </div>
        <div class="extra food-detail">
          <i class="tag icon"></i>Rice, Dinner Party, Gluten-free, Italian
          <div class="ui star rating" data-rating="4"></div>
        </div>
      </div>
      <div class="card">
        <div class="image">
          <img>
        </div>
        <div class="extra">
          Rating:
          <div class="ui star rating" data-rating="2"></div>
        </div>
      </div>
      <div class="card">
        <div class="image">
          <img>
        </div>
        <div class="extra">
          Rating:
          <div class="ui star rating" data-rating="3"></div>
        </div>
      </div>
      <div class="card">
        <div class="image">
          <img>
        </div>
        <div class="extra">
          Rating:
          <div class="ui star rating" data-rating="4"></div>
        </div>
      </div>
      <div class="card">
        <div class="image">
          <img>
        </div>
        <div class="extra">
          Rating:
          <div class="ui star rating" data-rating="3"></div>
        </div>
      </div>
      <div class="card">
        <div class="image">
          <img>
        </div>
        <div class="extra">
          Rating:
          <div class="ui star rating" data-rating="3"></div>
        </div>
      </div>
      <div class="card">
        <div class="image">
          <img>
        </div>
        <div class="extra">
          Rating:
          <div class="ui star rating" data-rating="4"></div>
        </div>
      </div>
      <div class="card">
        <div class="image">
          <img>
        </div>
        <div class="extra">
          Rating:
          <div class="ui star rating" data-rating="4"></div>
        </div>
      </div>
    </div>
  </div>



</body>
</html>
