<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>megaresto</title>
  <link rel="stylesheet" type="text/css" href="dist/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <script src="javascripts/jquery.min.js"></script>
  <script src="javascripts/script.js"></script>
  <script src="dist/semantic.min.js"></script>
</head>
<body>
  <!-- navbar -->
  <div class="ui secondary pointing menu">
    <a class="item"></a>
    <a class="item"></a>
    <a class="item logodepan" href="/">megaresto</a>
    <a class="item" href="/">
      Home
    </a>
    <a class="item active" href="/order">
      Order
    </a>
    <a class="item" href="/history">
      History
    </a>
    <a class="item" href="/historyadmin">
      History Admin
    </a>
    <a class="item" href="http://localhost:1110/" target="_blank">
      Contact
    </a>
    <div class="right menu">
      <a class="ui item">
        Logout
      </a>
    </div>
    <div class="item"></div>
    <div class="item"></div>
  </div>
  <!-- navbar -->

  <!-- message -->
  <div id="message" class="ui container">
    <div id="message" class="ui positive message">
      <i class="close icon"></i>
      <div id="headerContent"></div>
    </div>
  </div>

  <!-- menu makanan-->
  <h2 class="ui icon header">
    <div class="content">
      Menu List
      <div class="ui horizontal divider">All delicious food are listed here</div>
    </div>
  </h2>
  <br>
  <div class="ui container food-list">
    <div class="ui four cards">
      <div class="card">
        <div class="image">
          <img src="/images/f1.jpg">
        </div>
        <div class="extra">
          <h3 class="header">Tomato, Red Wine & Chorizo Risotto</h3>
        </div>
        <div class="extra food-detail">
          <i class="tag icon"></i>Rice, Dinner Party, Gluten-free, Italian
          <div class="ui star rating" data-rating="4"></div>
        </div>

        <div class="extra content">
          <p class="right floated created harga-Makanan">90.000</p>
          <button id="menu1" class="ui icon button blue mini">
            <i class="plus icon"></i>
          </button>
          <button id="menu2" class="ui icon button red mini">
            <i class="minus icon"></i>
        </div>
        <div id='a1' class="ui bottom attached button red"></div>
      </div>
      <div class="card">
        <div class="image">
          <img src="/images/f2.jpg">
        </div>
        <div class="extra">
          <h3 class="header">Chicken Milanese with Spaghetti</h3>
        </div>
        <div class="extra food-detail">
          <i class="tag icon"></i>Chicken, Dinner, Romantic, Italian
          <div class="ui star rating" data-rating="4"></div>
        </div>

        <div class="extra content">
          <p class="right floated created harga-Makanan">120.000</p>
          <button id="menu3" class="ui icon button blue mini">
            <i class="plus icon"></i>
          </button>
          <button id="menu4" class="ui icon button red mini">
            <i class="minus icon"></i>
          </button>
        </div>
        <div id='a2' class="ui bottom attached button red"></div>
      </div>
      <div class="card">
        <div class="image">
          <img src="/images/f3.jpg">
        </div>
        <div class="extra">
          <h3 class="header">Individual Vegetarian Lasagnes</h3>
        </div>
        <div class="extra food-detail">
          <i class="tag icon"></i>Vegetables, Vegetarian
          <div class="ui star rating" data-rating="4"></div>
        </div>

        <div class="extra content">
          <p class="right floated created harga-Makanan">110.000</p>
          <button id="menu5" class="ui icon button blue mini">
            <i class="plus icon"></i>
          </button>
          <button id="menu6" class="ui icon button red mini">
            <i class="minus icon"></i>
          </button>
        </div>
        <div id='a3' class="ui bottom attached button red"></div>
      </div>
      <div class="card">
        <div class="image">
          <img src="/images/f4.jpg">
        </div>
        <div class="extra">
          <h3 class="header">Blue Cheese, Ham & Apple Burger</h3>
        </div>
        <div class="extra food-detail">
          <i class="tag icon"></i>Beef, Al Fresco, Alfresco, Father's day
          <div class="ui star rating" data-rating="4"></div>
        </div>

        <div class="extra content">
          <p class="right floated created harga-Makanan">125.000</p>
          <button id="menu7" class="ui icon button blue mini">
            <i class="plus icon"></i>
          </button>
          <button id="menu8" class="ui icon button red mini">
            <i class="minus icon"></i>
          </button>
        </div>
        <div id='a4' class="ui bottom attached button red"></div>
      </div>
      <div class="card">
        <div class="image">
          <img src="/images/f5.jpg">
        </div>
        <div class="extra">
          <h3 class="header">Baked Chicken & Porcini Risotto</h3>
        </div>
        <div class="extra food-detail">
          <i class="tag icon"></i>Super Food Family Classics, Book
          <div class="ui star rating" data-rating="4"></div>
        </div>

        <div class="extra content">
          <p class="right floated created harga-Makanan">135.000</p>
          <button id="menu9" class="ui icon button blue mini">
            <i class="plus icon"></i>
          </button>
          <button id="menu10" class="ui icon button red mini">
            <i class="minus icon"></i>
          </button>
        </div>
        <div id='a5' class="ui bottom attached button red"></div>
      </div>
      <div class="card">
        <div class="image">
          <img src="/images/f6.jpg">
        </div>
        <div class="extra">
          <h3 class="header">Black & Blushing Worcestershire Fillet</h3>
        </div>
        <div class="extra food-detail">
          <i class="tag icon"></i>Beef, Al Fresco, Alfresco, Father's day
          <div class="ui star rating" data-rating="4"></div>
        </div>

        <div class="extra content">
          <p class="right floated created harga-Makanan">225.000</p>
          <button id="menu11" class="ui icon button blue mini">
            <i class="plus icon"></i>
          </button>
          <button id="menu12" class="ui icon button red mini">
            <i class="minus icon"></i>
          </button>
        </div>
        <div id='a6' class="ui bottom attached button red"></div>
      </div>
      <div class="card">
        <div class="image">
          <img src="/images/f7.jpg">
        </div>
        <div class="extra">
          <h3 class="header">Earl Grey Vanila-Infused Ice Cream </h3>
        </div>
        <div class="extra food-detail">
          <i class="tag icon"></i>Eggs, Al Fresco, Alfresco, Vegetarian
          <div class="ui star rating" data-rating="4"></div>
        </div>

        <div class="extra content">
          <p class="right floated created harga-Makanan">95.000</p>
          <button id="menu13" class="ui icon button blue mini">
            <i class="plus icon"></i>
          </button>
          <button id="menu14" class="ui icon button red mini">
            <i class="minus icon"></i>
          </button>
        </div>
        <div id='a7' class="ui bottom attached button red"></div>
      </div>
      <div class="card">
        <div class="image">
          <img src="/images/f8.jpg">
        </div>
        <div class="extra">
          <h3 class="header">Chocolate Lava Guinness Cake</h3>
        </div>
        <div class="extra food-detail">
          <i class="tag icon"></i>Chocolate, Afternoon tea, Party food
          <div class="ui star rating" data-rating="4"></div>
        </div>

        <div class="extra content">
          <p class="right floated created harga-Makanan">75.000</p>
          <button id="menu15" class="ui icon button blue mini">
            <i class="plus icon"></i>
          </button>
          <button id="menu16" class="ui icon button red mini">
            <i class="minus icon"></i>
          </button>
        </div>
        <div id='a8' class="ui bottom attached button red"></div>
      </div>
    </div>
  </div>
  <!-- menu makanan-->


  <br><br><br><br><br><br><br><br><br>
  <div id="order">
    <div class="ui container">
      <div class="ui horizontal divider">Order List</div>
      <br>
      <div class="ui grid">
        <div class="four wide column"></div>
        <div class="eight wide column">
          <div class="ui piled segment">
            <center>

              <!-- menu 1 -->
              <div id="p1">
              <table class="ui very basic collapsing celled table">
                <tbody>
                    <tr>
                      <td>
                        <h4 class="ui image header">
                          <img src="/images/f1.jpg" class="ui mini rounded image">
                          <div class="content">
                            Tomato, Red Wine & Chorizo Risotto
                            <div class="sub header">Appetizer</div>
                          </div>
                        </h4>
                        <div id='tot1' class="ui green circular label"></div>
                        <div id='htot1' class="ui red tag label right aligned"></div>
                      </td>
                    </tr>
                </tbody>
              </table>
              </div>

              <!-- menu 2 -->
              <div id="p2">
              <table class="ui very basic collapsing celled table">
                <tbody>
                    <tr>
                      <td>
                        <h4 class="ui image header">
                          <img src="/images/f2.jpg" class="ui mini rounded image">
                          <div class="content">
                            Chicken Milanese with Spaghetti
                            <div class="sub header">Main Course</div>
                          </div>
                        </h4>
                        <div id='tot2' class="ui green circular label"></div>
                        <div id='htot2' class="ui red tag label right aligned"></div>
                      </td>
                    </tr>
                </tbody>
              </table>
              </div>

              <!-- menu 3 -->
              <div id="p3">
              <table class="ui very basic collapsing celled table">
                <tbody>
                    <tr>
                      <td>
                        <h4 class="ui image header">
                          <img src="/images/f3.jpg" class="ui mini rounded image">
                          <div class="content">
                            Individual Vegetarian Lasagnes
                            <div class="sub header">Main Course</div>
                          </div>
                        </h4>
                        <div id='tot3' class="ui green circular label"></div>
                        <div id='htot3' class="ui red tag label right aligned"></div>
                      </td>
                    </tr>
                </tbody>
              </table>
              </div>

              <!-- menu 4 -->
              <div id="p4">
              <table class="ui very basic collapsing celled table">
                <tbody>
                    <tr>
                      <td>
                        <h4 class="ui image header">
                          <img src="/images/f4.jpg" class="ui mini rounded image">
                          <div class="content">
                            Blue Cheese, Ham & Apple Burger
                            <div class="sub header">Main Course</div>
                          </div>
                        </h4>
                        <div id='tot4' class="ui green circular label"></div>
                        <div id='htot4' class="ui red tag label right aligned"></div>
                      </td>
                    </tr>
                </tbody>
              </table>
              </div>

              <!-- menu 5 -->
              <div id="p5">
              <table class="ui very basic collapsing celled table">
                <tbody>
                    <tr>
                      <td>
                        <h4 class="ui image header">
                          <img src="/images/f5.jpg" class="ui mini rounded image">
                          <div class="content">
                            Baked Chicken & Porcini Risotto
                            <div class="sub header">Main Course</div>
                          </div>
                        </h4>
                        <div id='tot5' class="ui green circular label"></div>
                        <div id='htot5' class="ui red tag label right aligned"></div>
                      </td>
                    </tr>
                </tbody>
              </table>
              </div>


              <!-- menu 6 -->
              <div id="p6">
              <table class="ui very basic collapsing celled table">
                <tbody>
                    <tr>
                      <td>
                        <h4 class="ui image header">
                          <img src="/images/f6.jpg" class="ui mini rounded image">
                          <div class="content">
                            Black & Blushing Worcestershire Fillet
                            <div class="sub header">Main Course</div>
                          </div>
                        </h4>
                        <div id='tot6' class="ui green circular label"></div>
                        <div id='htot6' class="ui red tag label right aligned"></div>
                      </td>
                    </tr>
                </tbody>
              </table>
              </div>

              <!-- menu 7 -->
              <div id="p7">
              <table class="ui very basic collapsing celled table">
                <tbody>
                    <tr>
                      <td>
                        <h4 class="ui image header">
                          <img src="/images/f7.jpg" class="ui mini rounded image">
                          <div class="content">
                            Earl Grey Vanila-Infused Ice Cream
                            <div class="sub header">Dessert</div>
                          </div>
                        </h4>
                        <div id='tot7' class="ui green circular label"></div>
                        <div id='htot7' class="ui red tag label right aligned"></div>
                      </td>
                    </tr>
                </tbody>
              </table>
              </div>

              <!-- menu 8 -->
              <div id="p8">
              <table class="ui very basic collapsing celled table">
                <tbody>
                    <tr>
                      <td>
                        <h4 class="ui image header">
                          <img src="/images/f8.jpg" class="ui mini rounded image">
                          <div class="content">
                            Chocolate Lava Guinness Cake
                            <div class="sub header">Dessert</div>
                          </div>
                        </h4>
                        <div id='tot8' class="ui green circular label"></div>
                        <div id='htot8' class="ui red tag label right aligned"></div>
                      </td>
                    </tr>
                </tbody>
              </table>
              </div>
              <hr>
              <div class="ui divided selection list">
                <div class="right aligned">
                  <div class="ui blue horizontal label">Total</div>
                  <div id="totalAkhir" class="ui blue horizontal label massive"></div>
                  <br><br>
                  <button id="order-btn" class="ui basic button red">
                    <i class="icon hand paper"></i>
                    Order
                  </button>
                </div>
              </div>
            </center>
          </div>
        </div>
        <div class="four wide column"></div>
      </div>
    </div>
  </div>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

</body>
</html>
